## 단순연결

`pandas.concat(objs, axis=0, ignore_index=False)`
- objs: concat을 실행할 객체의 리스트 (DataFrame, Series, Panel object)
- axis: 0이면 열 방향으로 합치고, 1이면 행방향으로 합침
- ignore_index: True이면 기존 index를 무시하고 0부터 시작하는 정수로 재설정

In [1]:
import pandas as pd
HR1 = pd.DataFrame({
    '이름': ['장화', '홍련'],
    '부서': ['영업', '회계'],
    '직급': ['팀장', '사원']
})
HR2 = pd.DataFrame({
    '이름': ['콩쥐', '팥쥐'],
    '직급': ['사원', '팀장'],
    '부서': ['영업', '인사']
})
pd.concat([HR1, HR2], axis=0)

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
0  콩쥐  영업  사원
1  팥쥐  인사  팀장