## 그룹화와 집계

`DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=False, dropna=True).FUN()`
- by: 그룹을 결저하는데 사용
- axis: 행(0), 열(1), 기본=0
- level: 축이 계층 구조일 때 특정 수준을 기준으로 그룹화
- as_index: 그룹 레이블이 인덱스로 출력될지의 여부, 기본=True
- sort: 집계 행으로 정렬할지 여부
- dropna: 결측값이 행/열과 함께 삭제(True), 결측값도 그룹의 키로 처리(False)

> **집계함수**
> - count()
> - sum()
> - min()
> - max()
> - mean()
> - median()
> - std(): 표준편차
> - var(): 분산
> - quantile(n): 분위수
> - first()
> - last()
> - describe(): 기술통계량

In [1]:
import pandas as pd
from sklearn.datasets import load_iris
IRIS = load_iris()
iris = pd.DataFrame(data=IRIS.data, columns=IRIS.feature_names)
iris['class'] = IRIS.target
iris['class'] = iris['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [2]:
iris.groupby(by='class').median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0

## 도수분포표

`pd.Series(DataFrame['컬럼명']).value_counts()`

In [3]:
pd.Series(iris['class']).value_counts()

setosa        50
versicolor    50
virginica     50
Name: class, dtype: int64

In [4]:
iris['petal length level'] = pd.qcut(iris['petal length (cm)'], q=3, labels=['short', 'middle', 'long'])
pd.Series(iris['petal length level']).value_counts().to_frame()

        petal length level
middle                  54
short                   50
long                    46

`pd.crosstab(index, columns, dropna=True, normalize=False)`
- index: 열 위치에서 집계될 범주형 변수(컬럼1)
- columns: 행 위치엣 집계될 범부현 변수(컬럼2)
- dropna: 항목이 모두 NaN인 열을 제외할지 여부
- normalize: 모든값 정규화='all' 또는 True, 각 행 정규화='index', 각 열 정규화='columns'

In [5]:
pd.crosstab(iris['petal length level'], iris['class'])

class               setosa  versicolor  virginica
petal length level
short                   50           0          0
middle                   0          48          6
long                     0           2         44