## DataFrame 선언하기

list, dictionary, ndarrayrhk와 같이 다양한 데이터 타입의 객체를 DataFrame으로 선언할 수 있다.
Series객체는 하나의 열을 가진 DataFrame으로 변환할 수 있다.
2 ~ 3번 째줄과 4 ~ 5번 째 줄은 같은 의미이다.

In [2]:
import numpy as np
import pandas as pd

dataset = np.array([['kor', 70], ['math', 80]])
df = pd.DataFrame(dataset, columns=['class', 'score'])
df = pd.DataFrame(data=[['kor', 70], ['math', 80]], columns=['class', 'score'])
df = pd.DataFrame({'class': ['kor', 'math'], 'score': [70, 80]})
df

  class  score
0   kor     70
1  math     80

Series 선언하기

In [4]:
pd.Series({'idx 1': 'kor', 'idx2': 'math'}, name='class')

idx 1     kor
idx2     math
Name: class, dtype: object

## DataFrame 읽고 저장하기

In [5]:
pwd

'/home/runner/pythonStudy'