## [MOCK EXAM] T2 찐입문자용 Starter
- https://youtu.be/QWEqMQIwH5A
- 본 코드는 찐 입문자를 위한 제출용 코드(베이스라인) 입니다. 쉽게 이해가 된다면 데이터 전처리 및 피처 엔지니어링 후 제출해주세요!!

In [1]:
################## 시험 안내 문구 및 코드 ##################
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("../../dataset/hr-data/X_test.csv")
X_train = pd.read_csv("../../dataset/hr-data/X_train.csv")
y_train = pd.read_csv("../../dataset/hr-data/y_train.csv")
X_test.shape, X_train.shape, y_train.shape

((2126, 13), (19158, 13), (19158, 2))

---
## My Code

---
## Solution

## 사용자 코딩

In [2]:
# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'enrollee_id': X_test.enrollee_id, 'target': pred}).to_csv('003000000.csv', index=False)

In [3]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.9+ MB

In [4]:
X_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8

In [5]:
X_train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
dtype: int64

In [6]:
y_train.head()

   enrollee_id  target
0         8949       1
1        29725       0
2        11561       0
3        33241       1
4          666       0

In [7]:
# Feature Selection (# 수치형 데이터만 선택)
cols = X_train.select_dtypes(exclude='object').columns
cols

Index(['enrollee_id', 'city_development_index', 'training_hours'], dtype='object')

In [8]:
train = X_train[cols[1:]]
test = X_test[cols[1:]]
y = y_train['target']
train.shape, test.shape, y.shape

((19158, 2), (2126, 2), (19158,))

In [9]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=2022)
model.fit(train, y)
pred = model.predict(test)
pred.shape

(2126,)

In [10]:
# ################## 찐 입문자용 코드 ##################
# # EDA
# print(X_train.shape, y_train.shape, X_test.shape)
# print(X_train.info())
# print(X_train.isnull().sum())
# print(X_test.isnull().sum())

# # Feature Selection (# 수치형 데이터만 선택)
# #select_dtypes도 어려우면 object형은 다 드롭 시킴
# train = X_train.select_dtypes(exclude='object') 
# test = X_test.select_dtypes(exclude='object') 

# train = train.drop('enrollee_id',axis=1) # ID 삭제
# test = test.drop('enrollee_id',axis=1)
# print(train.head(3))

# # Training
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier() 
# model.fit(train, y_train['target'])
# pred = model.predict_proba(test)[:,1]

# # to_csv (위에 코드 제공된 복사한 것임)
# pd.DataFrame({'enrollee_id': X_test.enrollee_id, 'target': pred}).to_csv('003000000.csv', index=False)

# # 끝
# # 더 하고자 하면 여기에 범주형 데이터 인코딩만 하면 Good

## 체점

In [11]:
# 체점
import pickle
import numpy as np
from sklearn.metrics import roc_auc_score

with open( "../../dataset/hr-data/answer.pickle", "rb" ) as file:
    ans = pickle.load(file)
    ans = pd.DataFrame(ans)
print(roc_auc_score(ans['target'], pred))

0.6699171146953404