## 문제

* 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
* 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/basic1.csv')
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [2]:
std = df['age'].std() * 1.5
std

45.664137783883035

In [3]:
mean = df['age'].mean()
mean

50.963

In [4]:
min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116966 96.62713778388303

In [5]:
outlier = df[(df['age']<min_out)|(df['age']>max_out)]
outlier.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 98
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      14 non-null     object
 1   age     14 non-null     float64
 2   city    14 non-null     object
 3   f1      10 non-null     float64
 4   f2      14 non-null     int64
 5   f3      0 non-null      object
 6   f4      14 non-null     object
 7   f5      14 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1008.0+ bytes

In [6]:
outlier['age'].sum()

473.5