## 수치형 변수 변환하기
**주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, \
두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오**
* 데이터셋 : basic1.csv
* 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작m

\
**박스-콕스**
![](https://wikimedia.org/api/rest_v1/media/math/render/svg/b565ae8f1cce1e4035e2a36213b8c9ce34b5029d)

**여-존슨**
![](https://wikimedia.org/api/rest_v1/media/math/render/svg/2a99e24c81226f3d0547c471281197ea265553c5)

##### 라이브러리 및 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../dataset/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

##### 조건에 맞는 데이터

In [2]:
df2 = df[df['age'] >= 20]
df2

       id    age city    f1  f2   f3    f4         f5
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
6    id07   36.3   서울  60.0   1  NaN  ISFJ   9.796378
..    ...    ...  ...   ...  ..  ...   ...        ...
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[83 rows x 8 columns]

In [3]:
df.shape, df2.shape

((100, 8), (83, 8))

##### 최빈값으로 'f1' 컬럼 결측치 대체

In [4]:
df2['f1'].mode()

0    50.0
Name: f1, dtype: float64

In [5]:
df2['f1'] = df2['f1'].fillna(df2['f1'].mode()[0])

/tmp/ipykernel_2064/2412897438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['f1'] = df2['f1'].fillna(df2['f1'].mode()[0])

In [6]:
print("결측치 처리 전: \n", df.isnull().sum())  
print("결측치 처리 후: \n", df2.isnull().sum())

결측치 처리 전:
 id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64
결측치 처리 후:
 id       0
age      0
city     0
f1       0
f2       0
f3      78
f4       0
f5       0
dtype: int64

##### 'f1'데이터 여-존슨 yeo-johnson 값 구하기

In [7]:
from sklearn.preprocessing import power_transform

# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df2['y'] = power_transform(df2[['f1']]) # method 디폴트 값은 여-존슨’yeo-johnson’
df2['y'].head()

/tmp/ipykernel_2064/54547513.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['y'] = power_transform(df2[['f1']]) # method 디폴트 값은 여-존슨’yeo-johnson’

2    0.101083
3   -0.585402
4    1.463459
5   -0.143094
6    0.040578
Name: y, dtype: float64

In [8]:
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df2['y'] = power_transform(df2[['f1']],standardize=False) # method 디폴트 값은 여-존슨’yeo-johnson’
df2['y'].head()

/tmp/ipykernel_2064/2722266560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['y'] = power_transform(df2[['f1']],standardize=False) # method 디폴트 값은 여-존슨’yeo-johnson’

2    20.583423
3    17.968081
4    25.773745
5    19.653167
6    20.352915
Name: y, dtype: float64

##### 'f1'데이터 박스-콕스 box-cox 값 구하기

In [9]:
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df2['b'] = power_transform(df2[['f1']], method='box-cox', standardize=False)
df2['b'].head()

/tmp/ipykernel_2064/2567728746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['b'] = power_transform(df2[['f1']], method='box-cox', standardize=False)

2    21.067090
3    18.305263
4    26.557680
5    20.084373
6    20.823545
Name: b, dtype: float64

##### 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)

In [10]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
round(sum(np.abs(df2['y'] - df2['b'])),2)

39.17

## Hint
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.power_transform.html

In [11]:
from sklearn.preprocessing import power_transform
data = [[11, 12], [23, 22], [34, 35]]
print(power_transform(data)) # method 디폴트 값은 여-존슨’yeo-johnson’
print(power_transform(data, method='box-cox'))

[[-1.27332767 -1.24414502]
 [ 0.10376846  0.03976901]
 [ 1.16955921  1.20437601]]
[[-1.27548765 -1.24611441]
 [ 0.1087368   0.04392064]
 [ 1.16675085  1.20219377]]