## Q.2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/t1-data2.csv', index_col='year')
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
year,,,,,,,,,,,,,,,,,,,,,
2022년,69,37,57,70,40,75,8,67,89,91,...,79,56,98,21,14,25,17,10,60,17
2023년,52,13,22,70,92,80,8,56,17,96,...,62,47,59,6,25,96,69,87,28,64
2024년,88,44,32,55,64,8,4,2,62,44,...,98,95,40,59,69,71,86,53,93,64
2025년,80,97,15,4,74,12,100,60,47,47,...,30,11,2,54,9,52,51,81,78,22
2026년,64,66,62,56,67,80,90,24,58,78,...,93,15,88,67,7,82,5,61,15,63

## User Code

## Solution

In [2]:
median = df.loc['2022년'].median()
median

54.5

## Solution

In [3]:
sum(df.loc['2022년'] > median)

50