**주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 \
(단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)**

- 데이터셋 : ../input/covid-vaccination-vs-death/covid-vaccination-vs-death_ratio.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- File -> Editor Type -> Script

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/covid-vaccination-vs-death_ratio.csv')
df.head()

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40295077.0,1.113977
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40295077.0,1.167242
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40295077.0,1.182197
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40295077.0,1.189654
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40295077.0,1.190155

## User Code

## Solution

In [2]:
df.describe()

,Unnamed: 0,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
count,26623.000000,2.662300e+04,2.662300e+04,2.662300e+04,26623.000000,2.662300e+04,26623.000000
mean,13311.000000,2.624900e+07,1.587149e+07,1.015975e+07,104.341584,5.068306e+07,36.058352
std,7685.542445,9.172916e+07,5.852142e+07,3.409173e+07,343.701812,1.585035e+08,27.286028
min,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,-92.000000,1.373000e+03,0.000011
25%,6655.500000,6.062655e+05,4.006990e+05,1.765970e+05,1.000000,3.354825e+06,9.940602
50%,13311.000000,3.570392e+06,2.248865e+06,1.169177e+06,10.000000,1.034502e+07,32.817733
75%,19966.500000,1.560763e+07,8.804162e+06,5.698058e+06,52.000000,3.823269e+07,60.421409
max,26622.000000,2.422908e+09,1.225000e+09,1.076308e+09,8786.000000,1.446645e+09,122.149682

In [3]:
df2 = df.groupby('country').max() # 시간에 따라 접종률이 점점 올라감
df2 = df2.sort_values(by='ratio', ascending=False)
df2['ratio'].head()

country
Gibraltar               122.149682
Malta                    99.307358
United Arab Emirates     98.484635
Cuba                     91.873382
Brunei Darussalam        91.328883
Name: ratio, dtype: float64

In [4]:
df2 = df2[1:] # remove outlier
df2['ratio'].head()

country
Malta                   99.307358
United Arab Emirates    98.484635
Cuba                    91.873382
Brunei Darussalam       91.328883
Portugal                90.418267
Name: ratio, dtype: float64

In [5]:
top = df2['ratio'].head(10).mean()
bottom = df2['ratio'].tail(10).mean()
top, bottom

(90.34726740770431, 1.9129097691393397)

In [6]:
print(round(top - bottom, 1))

88.4