**f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오**
- 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
- 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
- 최종 결과값은 절대값으로 출력
    * 데이터셋 : basic1.csv
    * 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## User Code

## Solution

In [2]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [3]:
ten = df['f1'].sort_values(ascending=False).iloc[9]
ten

88.0

In [4]:
df['f1'] = df['f1'].fillna(ten)
df.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [5]:
# 중복 제거 전 중앙 값
med1 = df['f1'].median()
med1

77.5

In [6]:
# 중복 제거
print(df.shape)
df = df.drop_duplicates(subset=['age'])
print(df.shape)

(100, 8)
(71, 8)

In [7]:
# 중복 제거 후 중앙 값
med2 = df['f1'].median()
med2

77.0

In [8]:
abs(med1 - med2)

0.5