**주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)**
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/basic2.csv', parse_dates=['Date'], index_col='Date')

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')
df.head()

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0

## User Code

## Solution

In [2]:
print(df.shape)
df.info()

(730, 4)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2022-01-01 to 2023-12-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sales   730 non-null    int64
 1   PV      730 non-null    int64
 2   UV      684 non-null    float64
 3   Events  730 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 28.5 KB

**단위**
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [3]:
df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [4]:
w_max = df_w['Sales'].max()
w_min = df_w['Sales'].min()
w_min, w_max

(7526598, 99165648)

In [5]:
abs(w_max - w_min)

91639050