## 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오

* 60%가 소수점일 경우 절사(예: 36.6 일때 36으로 계산)
* data: t1-data1.csv

In [1]:
import pandas as pd
df = pd.read_csv('../dataset/t1-data1.csv')
df

      id   age city    f1  f2    f4         f5
0   id01   2.0   서울   NaN   0  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  INFP  52.667078
4   id05  24.0   서울  85.0   2  ISFJ  29.269869
..   ...   ...  ...   ...  ..   ...        ...
85  id86   2.0   경기   NaN   0  ESTP  29.269869
86  id87  19.0   경기   NaN   1  ISFP  97.381034
87  id88  89.0   경기  75.0   0  ESTJ  60.339826
88  id89  34.0   경기  66.0   1  ENTJ  33.308999
89  id90  54.0   경기   NaN   0  ENTP  29.269869

[90 rows x 7 columns]

## My Code

In [2]:
df.dropna(inplace=True)
df = df[:int(len(df)*0.6)]
df = df['f1'].quantile(.75)
df

77.25

## Solution

In [3]:
df = pd.read_csv("../dataset/t1-data1.csv")
df = df.dropna()
df = df.iloc[:int(len(df)*0.6)]
print(df['f1'].quantile(.75))

77.25