## 수치형 변수 변환하기
**주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오**
* 데이터셋 : basic1.csv
* 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

**Standardization (Z-score Normalization)**
![표준화](https://wikimedia.org/api/rest_v1/media/math/render/svg/b0aa2e7d203db1526c577192f2d9102b718eafd5)

##### 라이브러리 및 데이터 불러오기

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('../../dataset/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## User Code

## Solution

##### 표준화

In [2]:
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
df.head()

     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
3  id04  75.0   서울   NaN   2  NaN  INFP -0.143667
4  id05  24.0   서울  85.0   2  NaN  ISFJ -0.970085

##### 중앙값 출력

In [3]:
df['f5'].median()

0.260619629559015

## Hint
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
* https://en.wikipedia.org/wiki/Feature_scaling

In [4]:
from sklearn.preprocessing import StandardScaler
data = [[0, 2], [0.4, 0.2], [1.1, 10], [11, 19], [34, 21], [6, 40]]
scaler = StandardScaler()
print(scaler.fit(data))
print(scaler.transform(data))

StandardScaler()
[[-0.73299648 -0.99206078]
 [-0.69948807 -1.125655  ]
 [-0.64084835 -0.39830869]
 [ 0.18848481  0.26966241]
 [ 2.11521842  0.41810043]
 [-0.23037032  1.82826164]]