**주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)**
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/basic2.csv', parse_dates=['Date'])
df.head()

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [3]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek
df.head()

        Date     Sales      PV      UV  Events  year  month  day  dayofweek
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1          5
1 2022-01-02     36779    3969  2289.0       0  2022      1    2          6
2 2022-01-03  13943875  373890     NaN       1  2022      1    3          0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4          1
4 2022-01-05   2395374  190684     NaN       0  2022      1    5          2

In [4]:
import numpy as np
df['weekend'] = df['dayofweek'].apply(lambda x: x>=5, 1, 0)
df['weekend2'] = np.where(df['dayofweek']>=5, 1, 0)
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,weekend,weekend2
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,True,1
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,True,1
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,False,0
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,False,0
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,False,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       730 non-null    datetime64[ns]
 1   Sales      730 non-null    int64
 2   PV         730 non-null    int64
 3   UV         684 non-null    float64
 4   Events     730 non-null    int64
 5   year       730 non-null    int64
 6   month      730 non-null    int64
 7   day        730 non-null    int64
 8   dayofweek  730 non-null    int64
 9   weekend    730 non-null    bool
 10  weekend2   730 non-null    int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(8)
memory usage: 57.9 KB

In [6]:
weekend = df[(df['year']==2022) & (df['month']==5) & (df['weekend'])]['Sales'].mean()
weekday = df[(df['year']==2022) & (df['month']==5) & (~df['weekend'])]['Sales'].mean()
weekend, weekday

(6693950.555555556, 3683611.4545454546)

In [7]:
weekend = df[(df['year']==2022) & (df['month']==5) & (df['weekend2'])]['Sales'].mean()
weekday = df[(df['year']==2022) & (df['month']==5) & (~df['weekend2'])]['Sales'].mean()
weekend, weekday

(6693950.555555556, 3683611.4545454546)

In [8]:
round(weekend - weekday, 2)

3010339.1