In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris['Class'] = load_iris().target
iris['Class'] = iris['Class'].map({0: 'Setosa', 1: 'Versicolur', 2: 'Verginica'})
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Class
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Verginica
146,6.3,2.5,5.0,1.9,Verginica
147,6.5,3.0,5.2,2.0,Verginica
148,6.2,3.4,5.4,2.3,Verginica
149,5.9,3.0,5.1,1.8,Verginica

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(iris.drop(columns='Class'), iris['Class'], test_size=0.2, random_state=1004)
print(f'X_train: {X_train.shape}, X_test: {X_test.shape}')
print(f'Y_train: {Y_train.shape}, Y_test: {Y_test.shape}')

X_train: (120, 4), X_test: (30, 4)
Y_train: (120,), Y_test: (30,)

In [5]:
X_train.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
87                 6.3               2.3                4.4               1.3
67                 5.8               2.7                4.1               1.0
131                7.9               3.8                6.4               2.0

In [6]:
Y_train.head(3)

87     Versicolur
67     Versicolur
131     Verginica
Name: Class, dtype: object

In [7]:
iris['Class'].value_counts()

Setosa        50
Versicolur    50
Verginica     50
Name: Class, dtype: int64

In [8]:
Y_train.value_counts()

Versicolur    41
Setosa        40
Verginica     39
Name: Class, dtype: int64

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(iris.drop(columns='Class'), iris['Class'], test_size=0.2, stratify=iris['Class'])
print(f'X_train: {X_train.shape}, X_test: {X_test.shape}')
print(f'Y_train: {Y_train.shape}, Y_test: {Y_test.shape}')

X_train: (120, 4), X_test: (30, 4)
Y_train: (120,), Y_test: (30,)

In [10]:
Y_train.value_counts()

Setosa        40
Verginica     40
Versicolur    40
Name: Class, dtype: int64